:host {
  height: 100px;
  border-radius: 8px;
  background-color: #1e1e1e;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 12px;
}

.button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #343434;
}

button.button {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.volume {
  margin-right: 12px;
  &-control {
    display: flex;
    align-items: center;
  }
}

.empty {
  display: flex;
  align-items: center;
  & h3 {
    font-weight: 500;
    margin-bottom: 6px;
  }
}
