:host {
  min-height: 100px;
  border-radius: 8px;
  background-color: #1e1e1e;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex: 1;
}

.playback-control {
  margin-right: 12px;
}

.button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #343434;
}

button.button {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.progress {
  display: flex;
  .mdc-slider {
    flex: 1;
    height: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
  .mdc-slider__input {
    height: 20px;
  }
  ::ng-deep .mdc-slider__thumb {
    height: 20px !important;
  }
  ::ng-deep .mat-ripple {
    display: none;
  }
  --mdc-slider-handle-height: 12px;
  --mdc-slider-handle-width: 12px;
}

.volume {
  margin-right: 12px;
  &-control {
    display: flex;
    align-items: center;
  }
}

.empty {
  display: flex;
  align-items: center;
  & h3 {
    font-weight: 500;
    margin-bottom: 6px;
  }
}

@media (max-width: 768px) {
  :host {
    padding: 12px;
    gap: 18px;
  }
  .main {
    min-width: 100%;
    margin-top: 6px;
  }
  .volume {
    margin-right: 12px;
    &-control {
      display: flex;
      align-items: center;
    }
  }
}
