:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1e1e1e;
}

.mat-mdc {
  &-table {
    width: 100%;
  }
  &-row {
    cursor: pointer;
  }
}
