<mat-table [dataSource]="list">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let record">{{ record.id }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let record">{{ record.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef mat-sort-header>URL</mat-header-cell>
    <mat-cell *matCellDef="let record">{{ record.url | filename }}</mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onRecordClick(row)"
  ></mat-row>
</mat-table>
