:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1e1e1e;
  position: relative;
}

.mat-mdc {
  &-table {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    overflow-x: auto;
  }
  &-row {
    cursor: pointer;
  }
}

.mat-column {
  &-id {
    max-width: 220px;
  }
  &-name {
    min-width: 300px;
  }
  &-url {
    min-width: 300px;
  }
}

.cdk-cell {
  padding-top: 6px;
  padding-bottom: 6px;
}

.loader {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
}

@media (max-width: 768px) {
  .mat-column {
    &-id {
      min-width: 220px;
    }
  }
}
